.post{
    background-color: white;
    padding: 10px;
    width:350px;
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    z-index:10;
    /* align-items:center; */
}


.post_header{
    display:flex;
    margin-bottom: 10px;
}

.post_info{
    margin-left: 10px;
}

.post_info > p{
    font-size: 12px;
    color:gray;
}

.post_info > h2{
    font-size: 15px;
}

.post_header > .avatar_icon{
    z-index:0 !important;
}

.post_body{
    overflow-wrap: anywhere;
}

.post_buttons{
    display:flex;
    justify-content: space-evenly;
}

.InputOption{
    display:flex;
    align-items:center;
    margin-top: 15px;
    color:gray;
    padding:6px;
    cursor:pointer;
}

.InputOption:hover{
    background-color:whitesmoke;
    border-radius: 5px;
}

.InputOption>h4{
    margin-left: 5px;
}